.strip {
  background: white;
  background-repeat: no-repeat;
}
.strip-white {
  background-color: white;
}
.strip-grey {
  background-color: $white-offset;
}
.strip-diagonal {
  transform: skewY(5deg);
  padding-bottom: 50px;
  margin-bottom: 65px;
  > div {
    transform: skewY(-5deg);
  }
}
.strip-primary {
  background-color: $primary;
}

.strip-diagonal-right {
  margin-top: -100px;
  transform: skewY(-5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(5deg);
  }
}

.strip-diagonal-left {
  margin-top: -100px;
  transform: skewY(5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(-5deg);
  }
}

.strip-bg-contain {
  background-size: contain;
}

.strip-bg-cover {
  background-size: cover;
}

// .single-service {
//   display: block; // Use block display to prevent extra flex space
//   width: 100%; // Ensure it takes up full width
//   padding: 20px; // Add padding as needed
//   padding-left: 260px; // Adjust left padding to align with the header
//   text-align: left; // Align content to the left
// }

// .strip {
//   background: white;
//   background-repeat: no-repeat;
//   padding-top: 20px; // Adjust padding to manage vertical spacing
//   padding-bottom: 20px;
// }

// .strip .container {
//   max-width: 100%; // Ensure container uses full width
//   padding-left: 40px; // Match container padding with the header
//   padding-right: 40px; // Match container padding with the header
// }

// .strip .row {
//   margin-left: 0;
//   margin-right: 0;
// }
